@*@{
        Layout = null;
    }

    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Dodaj_Ogloszenie</title>
    </head>
    <body>
        <div>
        </div>
    </body>
    </html>*@

@{
    ViewBag.Title = "Dodaj_Ogloszenie";
}

<div class="container">
    <div class="row">
        @* add rest of code below *@


    </div>
</div>
<br>
