@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">The most viewed car</div>
                <div class="panel-body-index"><img src="~/Content/IMAGES/talisman.jpg" style="width:100%;height:100%;" alt="Image"></div>
                <div class="panel-footer">Factory new Renault Talisman 1.8T 225 HP 300 Nm</div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">The most viewed car</div>
                <div class="panel-body-index"><img src="~/Content/IMAGES/golfgti.jpg" style="width:100%;height:100%;" alt="Image"></div>
                <div class="panel-footer">Second Hand Golf Gti 2.0T</div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">The most viewed car</div>
                <div class="panel-body-index"><img src="~/Content/IMAGES/talisman.jpg" style="width:100%;height:100%;" alt="Image"></div>
                <div class="panel-footer">Factory new Renault Talisman 1.8T 225 HP 300 Nm</div>
            </div>
        </div>
    </div>
</div>
<br>