@*@model System.Collections.Generic.IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityUser>*@

@{
    ViewBag.Title = "Dodaj_Ogloszenie";
}

<!DOCTYPE html>

@foreach (var user in Model)
{
    <tr>
        <div class="form-group">
            <td>
            <td><b>User Id: </b> @user.Id</td>
            <td><b>Username: </b> @user.Email</td>
            @using (Html.BeginForm("Delete_User", "Home", new { id = @user.Id }))
            {

                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-primary" value="Usun Uzytkownika" />
                </div>
            }
        </div>
        <br />
    </tr>
}
<br />
<br>