@*@model _MY_PAGE.Models.Model_Pojazdu
@model _MY_PAGE.Models.Marka_Pojazdu*@

@{
    ViewBag.Title = "Wyszukaj_Ogloszenie";
}

<!DOCTYPE html>

@foreach (var std in ViewData["Mark"] as IList<_MY_PAGE.Models.Marka_Pojazdu>)
{
    <div class="form-group">
        <td><b>Nazwa samochodu </b>@std.Nazwa_Marka</td>
    </div>
    <br />
}

@foreach (var std in ViewData["Model"] as IList<_MY_PAGE.Models.Model_Pojazdu>)
{
    <div class="form-group">
        <td><b>Nazwa samochodu </b>@std.Nazwa_Model</td>
    </div>
    <br />
}

<br>
