body {
    padding-top: 100px;
    padding-bottom: 20px;
    background-color: #222;
    color: #cccccc;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 50px;
    padding-right: 50px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.navbar {
    background-color: #0469cf;
    color: white;
    text-decoration: none;
}

a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.navbar-inverse .navbar-nav > li > a {
    color: #ccc;
}

ul {
    padding: 0;
    margin: 0;
}


th, tr {
    text-align: center;
}

td {
    vertical-align: middle !important;
    text-align: center;
    margin: auto;
}

.navbar {
    padding-left: 50px;
    padding-right: 50px;
    margin: auto;
}

.panel-footer {
    color: #333;
    text-align: center;
}

#btnSearch {
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #353b48;
    padding: 10px;
    width: 100%;
}

#Filter {
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    border: black solid 0;
    background-color: #353b48;
    padding: 10px;
    width: 100%;
}




.srodek {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    padding-bottom: 10px;
}

    .srodek img {
        width: 60%;
    }

    .srodek .ikona {
        width: 60%;
        height: 100%;
        display: block;
    }

.marki {
    text-align: center;
    padding-top: 0;
    padding-bottom: 0;
}

    .marki img {
        text-align: center;
        width: 50%;
    }

.block-wrapper .whyus .srodek h3 {
    text-align: left;
}

@media (max-width: 768px) {
    .col20 {
        width: 100%;
        float: left;
    }

        .col20 img {
            width: 20%;
            margin-top: 15px;
        }

    .staticpage .ikony {
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .srodek {
        display: block;
        text-align: center;
    }

        .srodek img {
            width: 30%;
        }

        .srodek .ikona {
            width: 30%;
            height: 100%;
            display: block;
            margin: 5px auto;
        }

    .block-wrapper .whyus .srodek h3 {
        text-align: center;
    }

    .block-wrapper .text-block p:nth-of-type(3) {
        margin: 0px;
        padding: 0px;
    }

    .ikony .ikona {
        float: none;
        text-align: center;
        margin: 0px auto 0px auto;
        height: auto;
        width: 30%;
        display: block;
    }

    .col20 h2 {
        margin: 15px 0px 10px 0px;
    }

    .col20 p {
        margin: 0px 0px 30px 0px;
    }

    .block-wrapper .last {
        margin: 0px 0px 10px 0px;
    }
}

@media (min-width: 1920px) {
    .srodek {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}



#map {
    height: 400px;
    width: 100%;
}
