body {
    padding-top: 100px;
    padding-bottom: 20px;
    background-color: #222;
    color: #cccccc;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 50px;
    padding-right: 50px;
}

