@{
    ViewBag.Title = "Home Page of Siwy's Site";
}

<div class="jumbotron">
    <h1>Witaj na stronie Damiana Andrysiaka</h1>
    <p class="lead"><b/>Damian Andrysiak to jeden z czolowych programistow w centralnej europie!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
          
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>
            Linkedin
        </h2>
        <p><img src="~/Images/Ikona.jpg" alt="" /></p>
      @*  <p><img src="Images/Ikona.jpg" alt="" /></p>*@
        <p><a class="btn btn-default" href="https://www.linkedin.com/in/damian-andrysiak-7b7bb2145/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Getting started</h2>

        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>